@charset "UTF-8";
/*
  1. Use a more-intuitive box-sizing model.
*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --nav-bg: #fdf8f3;
  --body-bg: #fff;
  --nav-font-color:#1D1D1B;
  --h1-color: #1D1D1B;
  --h2-color:#1D1D1B;
  --h3-color:#1D1D1B;
  --h4-color:#1D1D1B;
  --p-color: #000;
  --border-color:#F2D7BF;
  --p-spanned-color: #84AA86;
  --accentuated-color:#E62C33;
  --very-accentuated-color: #E62C33;
  --letter-spacing: 0;
  --hover-title-color:#84AA86;
  --cambridge-blue:#84AA86;
  --cambridge-blue50:#84AA8680;
  --caribbean-current:#0D5C63;
  --UT-orange:#FB8B24;
  --indian-red:#E76161;
  --indian-red50:#E7616180;
  --indian-red25:#E7616140;
  --indian-red10:#E761611A;
  --atomic-tangerine:#F99B70;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-bg: #fdf8f3;
    --body-bg: #fff;
    --nav-font-color:#1D1D1B;
    --border-color:#DB5461;
    --h1-color:#1D1D1B;
    --h2-color:#1D1D1B;
    --h3-color:#1D1D1B;
    --h4-color:#1D1D1B;
    --p-color: #000;
    --p-spanned-color: #84AA86;
    --accentuated-color: #0D5C63;
    --very-accentuated-color: #0D5C63;
    --letter-spacing: 0.1;
    --hover-title-color:#84AA86;
    --cambridge-blue:#84AA86;
    --cambridge-blue50:#84AA8680;
    --caribbean-current:#0D5C63;
    --UT-orange:#FB8B24;
    --indian-red:#E76161;
    --indian-red50:#E7616180;
    --indian-red25:#E7616140;
    --indian-red10:#E761611A;
    --atomic-tangerine:#F99B70;
  }
}
:root {
  --nav-bg: #fdf8f3;
  --body-bg: #fff;
  --nav-font-color:#1D1D1B;
  --h1-color: #1D1D1B;
  --h2-color:#1D1D1B;
  --h3-color:#1D1D1B;
  --h4-color:#1D1D1B;
  --p-color: #000;
  --border-color:#F2D7BF;
  --p-spanned-color: #84AA86;
  --accentuated-color:#E62C33;
  --very-accentuated-color: #E62C33;
  --letter-spacing: 0;
  --hover-title-color:#84AA86;
  --cambridge-blue:#84AA86;
  --cambridge-blue50:#84AA8680;
  --caribbean-current:#0D5C63;
  --UT-orange:#FB8B24;
  --indian-red:#E76161;
  --indian-red50:#E7616180;
  --indian-red25:#E7616140;
  --indian-red10:#E761611A;
  --atomic-tangerine:#F99B70;
}

@media (prefers-color-scheme: dark) {
  :root {
    --nav-bg: #fdf8f3;
    --body-bg: #fff;
    --nav-font-color:#1D1D1B;
    --border-color:#DB5461;
    --h1-color:#1D1D1B;
    --h2-color:#1D1D1B;
    --h3-color:#1D1D1B;
    --h4-color:#1D1D1B;
    --p-color: #000;
    --p-spanned-color: #84AA86;
    --accentuated-color: #0D5C63;
    --very-accentuated-color: #0D5C63;
    --letter-spacing: 0.1;
    --hover-title-color:#84AA86;
    --cambridge-blue:#84AA86;
    --cambridge-blue50:#84AA8680;
    --caribbean-current:#0D5C63;
    --UT-orange:#FB8B24;
    --indian-red:#E76161;
    --indian-red50:#E7616180;
    --indian-red25:#E7616140;
    --indian-red10:#E761611A;
    --atomic-tangerine:#F99B70;
  }
}
@font-face {
  font-family: "acier";
  src: url("../ressources/fonts/acier-text-solid.ttf");
}
html {
  font-size: 62.5%;
  font-family: "Josefin sans", "Open sans", "Roboto", "Helvetica Neue", "Comfortaa";
  height: 1vh;
}

body {
  background-color: var(--body-bg);
}

.box-sizer {
  width: 108rem;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", "Alegreya sans", "Dancing Script", "Cardo", "acier", "Playfair Display", serif !important;
}

h1 {
  color: var(--h1-color);
  font-size: clamp(4.5rem, 6vw, 10rem);
  font-weight: 700;
  font-style: italic;
}

h2 {
  font-size: clamp(2.5rem, 3.5vw, 4.5rem);
  color: var(--h2-color);
}

h3 {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  color: var(--h3-color);
}

h4 {
  font-size: clamp(1.8rem, 1.5vw, 2.7rem);
  color: var(--h4-color);
}

h5 {
  font-size: clamp(1.6rem, 1.8vw, 3.5rem);
  color: var(--h4-color);
}

h6 {
  font-size: clamp(1.6rem, 1.3vw, 2.5rem);
  color: var(--h4-color);
}

p {
  font-family: "Open sans", "Josefin sans", "Roboto", "Helvetica Neue", "Comfortaa";
  font-size: clamp(1.6rem, 1.6vw, 2rem);
  color: var(--p-color);
}

#btn-fixed {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.top-bar {
  height: 3rem;
  margin: 0 auto;
  line-height: 3rem;
  color: var(--p-color);
  background-color: var(--indian-red);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  z-index: 200;
  border-bottom: 1px solid var(--border-color);
  color: #fff;
}
.top-bar a {
  margin: 0 1rem;
}
.top-bar a:hover {
  color: var(--p-spanned-color);
}

.banner {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../ressources/images/enfant_volant.jpg");
  height: 86rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .banner {
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
}
.banner .titres {
  position: relative;
}
.banner h5 {
  text-align: left;
  color: var(--nav-bg);
  text-transform: uppercase;
  margin: 0 0 0 3rem;
}
@media (max-width: 991px) {
  .banner h5 {
    text-align: center;
    margin: 0;
  }
}
.banner h1 {
  text-align: left;
  color: var(--nav-bg);
  margin: 1rem 0 5rem 3rem;
}
@media (max-width: 991px) {
  .banner h1 {
    text-align: center;
    margin: 0;
  }
}
.banner .photo-vignette {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("../ressources/images/CA9A9674 - Magalie Villora - 6.jpeg");
  height: 86rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
  height: 50rem;
  width: 50rem;
  background-position: 50% 50%;
  position: absolute;
  right: 5%;
  top: 20%;
}
@media (max-width: 1199px) {
  .banner .photo-vignette {
    height: 40rem;
    width: 40rem;
  }
}
@media (max-width: 991px) {
  .banner .photo-vignette {
    height: 35rem;
    width: 35rem;
    position: relative;
    top: 0;
    left: 0;
    margin: 1rem 0;
  }
}
footer {
  background-color: var(--nav-bg);
}

.bottom-bar {
  height: 5rem;
  width: 100%;
  margin: 0 auto;
  line-height: 5rem;
  color: var(--nav-font-color);
  background-color: var(--indian-red);
  font-size: 1.2rem;
  display: flex;
  z-index: 200;
  justify-content: center;
  border-top: 1px solid var(--border-color);
}
.bottom-bar a {
  margin: 0 1rem;
}
.bottom-bar a:hover {
  color: var(--p-spanned-color);
}

nav {
  background-color: var(--nav-bg);
  height: 10rem;
  width: 100%;
  font-size: clamp(1rem, 1.6em, 2rem);
  font-weight: 700;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1000;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 65rem) {
  nav #nav-box-sizer {
    display: block;
  }
}
nav .logo-container {
  width: 7.5rem;
}
@media screen and (max-width: 65rem) {
  nav .logo-container {
    margin-left: 1rem;
    height: 100%;
  }
}
nav img {
  height: 40%;
  object-fit: contain;
  margin: 5% auto;
}
nav .menu-container .list-nav {
  width: 100%;
  height: 100%;
  line-height: 10rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--nav-font-color);
}
@media screen and (max-width: 65rem) {
  nav .menu-container .list-nav {
    display: block;
    position: relative;
    top: -53rem;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
}
nav .menu-container .list-nav li {
  display: inline-block;
  list-style-type: none;
  transition: all 0.2s ease-in-out;
  position: relative;
  width: auto;
}
nav .menu-container .list-nav li:hover {
  cursor: pointer;
  color: var(--p-spanned-color);
}
@media screen and (max-width: 65rem) {
  nav .menu-container .list-nav li {
    line-height: 10rem;
    display: block;
    margin-left: -4rem;
    background-color: var(--nav-bg);
  }
  nav .menu-container .list-nav li:hover {
    cursor: pointer;
    background-color: var(--p-spanned-color);
    color: #fff;
    border-bottom: 0;
  }
}
nav .menu-container .list-nav li a {
  padding: 2rem;
}
nav .menu-container .list-nav .deroulant:hover {
  background-color: aqua;
}
nav .menu-container .list-nav .deroulant:hover ~ .sous-menu {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 65rem) {
  nav .menu-container .list-nav .deroulant:hover ~ .sous-menu {
    position: static;
    display: block;
    width: 100%;
  }
}
nav .menu-container .list-nav .sous-menu {
  display: none;
  position: absolute;
  z-index: 1000;
}
@media screen and (max-width: 65rem) {
  nav .menu-container .list-nav .sous-menu {
    position: static;
  }
}
nav .menu-container .list-nav .sous-menu:hover {
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 65rem) {
  nav .menu-container .list-nav .sous-menu:hover {
    position: static;
    display: block;
    width: 100%;
    background-color: #fff;
  }
}
nav .menu-container .list-nav .sous-menu li {
  position: relative;
  background-color: white;
  width: 100%;
  text-align: left;
  margin-left: 10rem;
}
@media screen and (max-width: 65rem) {
  nav .menu-container .list-nav .sous-menu li {
    margin-left: 0;
  }
  nav .menu-container .list-nav .sous-menu li:hover {
    background-color: var(--p-spanned-color);
    color: #fff;
  }
}

.navigationCheckbox {
  display: none;
}

.navigationBtn {
  background-color: transparent;
  height: 7rem;
  width: 7rem;
  position: absolute;
  top: 3.4rem;
  right: 2.5rem;
  z-index: 100;
  text-align: center;
  cursor: pointer;
  display: none;
}
@media (max-width: 65rem) {
  .navigationBtn {
    display: block;
  }
}

.navigationIcon {
  position: relative;
  margin-top: 1.5rem;
  width: 5rem;
  height: 0.5rem;
  background-color: var(--nav-font-color);
  border-radius: 0.25rem;
  display: none;
}
@media (max-width: 65rem) {
  .navigationIcon {
    display: inline-block;
  }
}

.navigationIcon::before,
.navigationIcon::after {
  width: 5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--nav-font-color);
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
  display: none;
}
@media (max-width: 65rem) {
  .navigationIcon::before,
.navigationIcon::after {
    display: block;
  }
}

.navigationIcon::before {
  top: -1.5rem;
  display: none;
}
@media (max-width: 65rem) {
  .navigationIcon::before {
    display: block;
  }
}

.navigationIcon::after {
  top: 1.5rem;
  display: none;
}
@media (max-width: 65rem) {
  .navigationIcon::after {
    display: block;
  }
}

.navigationCheckbox:checked ~ .list-nav {
  display: block;
  transform: translateY(52.7rem);
}
@media screen and (min-width: 65rem) {
  .navigationCheckbox:checked ~ .list-nav {
    transform: translateY(0rem);
  }
}

.navigationCheckbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon {
  background-color: transparent;
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section-container {
  width: min(108rem, 100%);
  margin: 0 auto;
}

#thematiques {
  height: 100rem;
  margin: 5rem 0;
}
@media (max-width: 76.8rem) {
  #thematiques {
    height: auto;
  }
}
#thematiques::before {
  content: "";
  background-image: url("../ressources/images/4b6b07a8-483b-492a-a9db-633b0e4dbe6b.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 95rem;
  opacity: 0.1;
  z-index: -1000;
  position: absolute;
  width: 100%;
  height: 100%;
}
@media (max-width: 1228px) {
  #thematiques::before {
    display: none;
  }
}
#thematiques h2, #thematiques h3, #thematiques h4, #thematiques p {
  text-align: center;
  font-weight: 700;
}
#thematiques h3 {
  text-transform: uppercase;
  font-size: 2.25rem;
}
#thematiques .section-header {
  position: relative;
  top: 40rem;
  left: 2rem;
  z-index: -1;
}
@media (max-width: 76.8rem) {
  #thematiques .section-header {
    margin: 7rem 0 0 0;
    position: static;
  }
}
#thematiques .section-content {
  position: relative;
  height: 100rem;
}
@media (max-width: 76.8rem) {
  #thematiques .section-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
}
@media (max-width: 1228px) {
  #thematiques .section-content::before {
    content: "";
    background-image: url("../ressources/images/4b6b07a8-483b-492a-a9db-633b0e4dbe6b.png");
    background-repeat: no-repeat;
    background-position: 42% 0%;
    background-size: 90%;
    opacity: 0.1;
    z-index: -10;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 640px) {
  #thematiques .section-content::before {
    display: none;
  }
}
#thematiques .section-content .carte-thematique {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  width: min(30rem, 100%);
  padding: 0 1rem;
}
#thematiques .section-content .carte-thematique .interieur-carte {
  position: relative;
}
#thematiques .section-content .carte-thematique:hover {
  top: 2rem;
  transition: all 0.3s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  transform: translateY(-1rem);
}
#thematiques .section-content .carte-thematique:hover svg {
  fill: var(--p-spanned-color);
  transition: all 0.3s ease;
}
#thematiques .section-content .carte-thematique a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: -0.1%;
  top: -0.1%;
  z-index: 500;
}
@media (max-width: 76.8rem) {
  #thematiques .section-content .carte-thematique {
    position: static;
    margin: 3rem 1rem;
    height: auto;
  }
}
@media (max-width: 45rem) {
  #thematiques .section-content .carte-thematique {
    flex-grow: 1;
  }
}
#thematiques .section-content .carte-thematique svg {
  fill: var(--atomic-tangerine);
  height: 7rem;
  width: 7rem;
  margin: 0 auto;
}
#thematiques .section-content .carte-thematique h4 {
  margin: 3rem 0 0 0;
  text-transform: uppercase;
  font-size: clamp(1.4rem, 1.5vw, 2.3rem);
  color: var(--p-spanned-color);
}
#thematiques .section-content .carte-thematique p {
  color: var(--p-color);
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.grosse-carte {
  margin: 0;
}
@media (max-width: 76.8rem) {
  .grosse-carte {
    margin: 15rem 5rem 0;
  }
}
.grosse-carte#vers-outil .photo-container {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../ressources/images/mon_outil_photo.webp");
  width: 45rem;
  height: 55rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
}
@media (max-width: 76.8rem) {
  .grosse-carte#vers-outil .photo-container {
    border-radius: 999rem;
    width: 90%;
    margin: 0 auto;
  }
}
.grosse-carte#vers-outil svg {
  fill: var(--indian-red);
}
@media (max-width: 76.8rem) {
  .grosse-carte#vers-outil img {
    display: none;
  }
}
.grosse-carte#pitch .photo-container {
  background-image: url("../ressources/images/CA9A9730 - Magalie Villora - 12.jpeg");
  width: 45rem;
  height: 55rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  border-radius: 50%;
}
@media (max-width: 76.8rem) {
  .grosse-carte#pitch .photo-container {
    width: 55rem;
    margin: 0 auto;
  }
}
@media (max-width: 45rem) {
  .grosse-carte#pitch .photo-container {
    width: 70vw;
    height: 70vw;
  }
}
.grosse-carte#pitch svg {
  fill: var(--cambridge-blue);
}
@media (max-width: 76.8rem) {
  .grosse-carte#pitch svg {
    height: 40rem;
    bottom: -25rem;
  }
}
.grosse-carte#pitch p {
  color: var(--p-color);
}
.grosse-carte svg {
  height: 40rem;
  position: relative;
  margin-top: -25rem;
  bottom: -25rem;
  left: -3rem;
  z-index: -50;
}
@media (max-width: 76.8rem) {
  .grosse-carte svg {
    height: 20rem;
    bottom: -15rem;
  }
}
@media (max-width: 45rem) {
  .grosse-carte svg {
    height: 40rem;
    left: -3rem;
    bottom: -30rem;
    margin-top: -45rem;
  }
}
.grosse-carte .section-content {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  flex-wrap: wrap;
}
@media (max-width: 45rem) {
  .grosse-carte .section-content {
    flex-direction: column;
  }
}
.grosse-carte .section-content .text-container {
  display: flex;
  flex-direction: column;
  width: min(50rem, 100%);
  align-items: center;
  margin: 10rem 0 10rem 10rem;
}
@media (max-width: 76.8rem) {
  .grosse-carte .section-content .text-container {
    width: 90%;
    margin: 5rem auto;
  }
}
.grosse-carte .section-content .text-container h2 {
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
}
.grosse-carte .section-content .text-container h3 {
  text-align: center;
}
.grosse-carte .section-content .text-container p {
  color: #999;
  margin: 2rem 0;
  text-overflow: clip;
}
.grosse-carte .section-content .text-container button {
  margin: 3rem;
}
.grosse-carte .section-content .text-container img {
  display: block;
  width: min(21rem, 10vw);
  position: relative;
  right: -8vw;
}

#fading-img {
  background-color: var(--nav-bg);
}
#fading-img img {
  padding: 5rem;
  position: relative;
}

#carrousel {
  height: 40rem;
  margin: 0;
}
@media (max-width: 1199px) {
  #carrousel {
    height: 33.6rem;
    min-height: 33.6rem;
  }
}
@media (max-width: 991px) {
  #carrousel {
    height: 102.9rem;
    min-height: 102.9rem;
  }
}
@media (max-width: 767px) {
  #carrousel {
    height: 308.7rem;
    min-height: 308.7rem;
  }
}
@media (max-width: 575px) {
  #carrousel {
    height: 194.4rem;
    min-height: 194.4rem;
  }
}
#carrousel .section-container-large {
  height: 40rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 0;
  row-gap: 0;
  min-height: 100%;
}
@media (max-width: 1199px) {
  #carrousel .section-container-large {
    height: 33.6rem;
  }
}
@media (max-width: 991px) {
  #carrousel .section-container-large {
    height: 102.9rem;
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 767px) {
  #carrousel .section-container-large {
    grid-template-columns: repeat(1, auto);
    height: 308.7rem;
  }
}
@media (max-width: 575px) {
  #carrousel .section-container-large {
    height: 194.4rem;
  }
}
#carrousel .section-container-large .carte-carrousel {
  height: 100%;
}
#carrousel .section-container-large .carte-carrousel .img-container {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transform: scale(1);
  transition: transform 500ms;
  width: 100%;
}
#carrousel .section-container-large .carte-carrousel .img-container .carrousel-img1 {
  object-position: center bottom;
}
@media (max-width: 575px) {
  #carrousel .section-container-large .carte-carrousel .img-container .carrousel-img1 {
    display: none;
  }
}
#carrousel .section-container-large .carte-carrousel .img-container .carrousel-img2 {
  object-position: center bottom;
}
#carrousel .section-container-large .carte-carrousel .img-container .carrousel-img3 {
  object-position: left bottom;
}
#carrousel .section-container-large .carte-carrousel .img-container .carrousel-img4 {
  object-position: center center;
}
#carrousel .section-container-large .carte-carrousel .img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.quote {
  background-color: var(--nav-bg);
}
.quote#quote2 {
  background-color: var(--indian-red50);
}
.quote#quote2 .svg-guillemet-ouvrant {
  fill: var(--cambridge-blue);
}
.quote#quote2 .svg-guillemet-fermant {
  fill: var(--cambridge-blue);
}
.quote#quote3 {
  background-color: var(--cambridge-blue50);
}
.quote#quote3 .svg-guillemet-ouvrant {
  fill: var(--atomic-tangerine);
}
.quote#quote3 .svg-guillemet-fermant {
  fill: var(--atomic-tangerine);
}
.quote .section-container p {
  font-weight: 700;
  line-height: 1.7;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
.quote .section-container .carte-temoignage {
  margin: 0rem 15rem 5rem;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 45rem) {
  .quote .section-container .carte-temoignage {
    margin: 0 5rem;
  }
}
.quote .section-container .guillemet-fermant {
  display: block;
  align-self: end;
}
.quote .section-container .svg-guillemet-ouvrant {
  fill: var(--indian-red);
  height: 5rem;
}
.quote .section-container .svg-guillemet-fermant {
  fill: var(--indian-red);
  height: 5rem;
}

#pricing {
  margin: 10rem 0;
}
#pricing .section-container h2, #pricing .section-container h6 {
  text-align: center;
}
#pricing .section-container h2 {
  margin: 3rem 20rem 5rem;
}
@media (max-width: 45rem) {
  #pricing .section-container h2 {
    margin: 0 5rem;
  }
}
#pricing .section-container h6 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
#pricing .section-container .photo-deco {
  fill: var(--cambridge-blue);
  position: relative;
  margin-bottom: -10%;
  height: 20rem;
}
@media (max-width: 45rem) {
  #pricing .section-container .photo-deco {
    height: 10rem;
  }
}
#pricing .section-container .cartes-tarif-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#pricing .section-container .cartes-tarif-container .carte-tarifs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pricing .section-container .cartes-tarif-container .carte-tarifs .svg-prix-container {
  height: 13rem;
  margin: 3rem 0 0;
}
#pricing .section-container .cartes-tarif-container .carte-tarifs .svg-prix-container svg {
  height: 100%;
  fill: var(--cambridge-blue);
}
#pricing .section-container .cartes-tarif-container .carte-tarifs h4 {
  margin: 3rem 0 0;
  color: var(--cambridge-blue);
  font-weight: 700;
  font-size: 5rem;
}
#pricing .section-container .cartes-tarif-container .carte-tarifs .trait {
  margin: 3rem 0 0;
  border: solid 1px var(--indian-red);
  height: 2px;
  width: 100%;
}
#pricing .section-container .cartes-tarif-container .carte-tarifs p {
  margin: 3rem 0;
  font-size: 2rem;
}
@media (max-width: 45rem) {
  #pricing .section-container .cartes-tarif-container .carte-tarifs p {
    margin: 3rem;
    text-align: center;
  }
}
#pricing .section-container .cartes-tarif-container .carte-tarifs h6 {
  margin: 3rem 0 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

#FAQ {
  margin: 10rem 0;
}
#FAQ img {
  width: 100vw;
  height: 50%;
}
#FAQ h2, #FAQ h6 {
  text-align: center;
}
#FAQ h2 {
  margin: 3rem 20rem 5rem;
}
@media (max-width: 45rem) {
  #FAQ h2 {
    margin: 0 5rem;
  }
}
#FAQ h6 {
  text-transform: uppercase;
  font-size: 2.5rem;
}
#FAQ .questions-container {
  margin: 3rem 0;
}
#FAQ .questions-container .question-container {
  display: flex;
  margin: 1rem 0;
}
#FAQ .questions-container .question-container .numero-FAQ {
  width: 3rem;
  font-size: 1.5rem;
  padding: 0.5em 1.3rem;
  font-weight: 500;
  background-color: var(--indian-red50);
}
#FAQ .questions-container .question-container details {
  background-color: var(--body-bg);
  color: var(--p-color);
  font-size: 1.5rem;
  width: calc(100% - 3rem);
}
#FAQ .questions-container .question-container details p {
  color: var(--p-color);
  font-size: 1.5rem;
}
#FAQ .questions-container .question-container details summary {
  padding: 0.5em 1.3rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: height 1s ease;
  font-weight: 500;
  background-color: var(--nav-bg);
}
#FAQ .questions-container .question-container details summary::-webkit-details-marker {
  display: none;
}
#FAQ .questions-container .question-container details summary:after {
  content: "+";
}
#FAQ details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  background-color: var(--indian-red50);
}
#FAQ details[open] summary:after {
  content: "×";
}
#FAQ details[open] p {
  padding: 0.5em 1em;
}

section.contenu-redactionnel > div:first-child {
  display: flex;
  flex-direction: row;
}

.contenu-redactionnel {
  padding: 5rem 3rem;
}
.contenu-redactionnel h2 {
  margin: auto 0;
  padding: 0 2rem;
}
.contenu-redactionnel .image {
  content: "";
  border-radius: 50%;
  background-repeat: no-repeat;
}
.contenu-redactionnel .image#alim {
  background-image: url("../ressources/images/alim.jpg");
  background-position: 60% 50%;
  width: 19.7rem;
  height: 19.7rem;
}
.contenu-redactionnel .image#situations-douloureuses {
  background-image: url("../ressources/images/situations-douloureuses.jpg");
  background-position: 60% 50%;
  width: 13.5rem;
  height: 13.5rem;
}
.contenu-redactionnel .image#phobies {
  background-image: url("../ressources/images/phobies.jpg");
  background-position: 75% 50%;
  width: 13.5rem;
  height: 13.5rem;
}
.contenu-redactionnel .image#emotions {
  background-image: url("../ressources/images/emotions.jpg");
  background-position: 75% 50%;
  width: 13.5rem;
  height: 13.5rem;
}
.contenu-redactionnel .image#ados-enfants {
  background-image: url("../ressources/images/ados-enfants.jpg");
  background-position: 50% 50%;
  width: 13.5rem;
  height: 13.5rem;
  background-size: cover;
}
.contenu-redactionnel article {
  margin: 2rem 0;
}
.contenu-redactionnel article p {
  line-height: 3rem;
  text-align: justify;
  margin: 2rem 0;
  width: 100%;
}

button, .btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  background-color: var(--indian-red);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover, .btn:hover {
  background-color: var(--atomic-tangerine);
  box-shadow: 0px 15px 20px rgba(132, 170, 134, 0.4);
  color: #000;
}

#contact {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../ressources/images/bureau.jpg");
  height: 86rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#contact .contact-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}
#contact .contact-container .form-title-container {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55));
  width: 100%;
}
#contact .contact-container .form-title-container h4, #contact .contact-container .form-title-container h5 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
#contact .contact-container .formulaire_formContainer {
  position: relative;
  background-color: #fff;
  padding: 5rem;
  border-radius: 5rem;
  width: 50%;
  justify-content: center;
}
@media (max-width: 108rem) {
  #contact .contact-container .formulaire_formContainer {
    margin: 5rem;
  }
}
#contact .contact-container .formulaire_formContainer .formulaire {
  display: flex;
  flex-direction: column;
}
#contact .contact-container .formulaire_formContainer .formulaire input {
  margin: 2rem 0;
}
#contact .contact-container .formulaire_formContainer .formulaire input[type=text] {
  height: 5rem;
  padding-left: 1rem;
  font-size: 1.4rem;
}
#contact .contact-container .formulaire_formContainer .formulaire input[type=text]::placeholder {
  font-family: "Helvetica Neue", "Comfortaa";
  font-size: 1.4rem;
}
#contact .contact-container .formulaire_formContainer .formulaire input[type=text]:focus {
  outline: none;
  border: 3px solid var(--p-spanned-color);
}
#contact .contact-container .formulaire_formContainer .formulaire input[type=submit] {
  border: none;
  margin: 0 auto;
}
#contact .contact-container .formulaire_formContainer .formulaire textarea {
  margin: 2rem 0;
  height: 20rem;
  outline: none;
  padding: 1rem 0 0 1rem;
  font-size: 1.4rem;
}
#contact .contact-container .formulaire_formContainer .formulaire textarea::placeholder {
  font-family: "Helvetica Neue", "Comfortaa";
  font-size: 1.4rem;
}
#contact .contact-container .formulaire_formContainer .formulaire textarea:focus {
  outline: none;
  border: 3px solid var(--p-spanned-color);
}

.fadeintop {
  animation: fadeintop 2s ease;
}
@keyframes fadeintop {
  from {
    top: -50rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.fadeinleft {
  animation: fadeinleft 2s ease;
}
@keyframes fadeinleft {
  from {
    left: -25rem;
    opacity: 0;
  }
  to {
    left: -3rem;
    opacity: 1;
  }
}

.fadeinform {
  animation: fadeinform 2s ease;
}
@keyframes fadeinform {
  from {
    left: -25rem;
    opacity: 0;
  }
  to {
    left: 0rem;
    opacity: 1;
  }
}

#testimonials {
  display: flex;
  flex-direction: column;
}
#testimonials input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}
#testimonials .wrapper {
  width: 75vw;
  /* unfortunately width has to be set to some hard value */
  display: flex;
  margin: 0 auto;
  background-color: white;
  box-shadow: 3px 3px 20px #9E9E9E;
}
#testimonials .wrapper .slide {
  width: 0;
}
#testimonials .wrapper .slide .content {
  width: 75vw;
  height: 100%;
  /* this is optional if you want every slide to have same height as the highest one */
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  max-height: 90vh;
  overflow-y: auto;
}
#testimonials .wrapper .slide .content .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
#testimonials .wrapper .slide .content .box-top .profile {
  display: flex;
  align-items: center;
}
#testimonials .wrapper .slide .content .box-top .profile .name-user {
  display: flex;
  flex-direction: column;
}
#testimonials .wrapper .slide .content .box-top .profile .name-user strong {
  color: #3d3d3d;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
}
#testimonials .wrapper .slide .content .box-top .profile .name-user span {
  color: #979797;
  font-size: 1.2rem;
}
#testimonials .wrapper .slide .content .box-top .reviews {
  color: #f9d71c;
}
#testimonials .wrapper .slide .content .client-comment p {
  font-size: 1.6rem;
  color: #4b4b4b;
}
#testimonials .controls {
  margin: 2rem auto;
}
#testimonials .controls label {
  color: #E0E0E0;
  transition-duration: 0.6s;
  cursor: pointer;
}
#testimonials #i_1:checked ~ .wrapper .content1,
#testimonials #i_2:checked ~ .wrapper .content2,
#testimonials #i_3:checked ~ .wrapper .content3,
#testimonials #i_4:checked ~ .wrapper .content4,
#testimonials #i_5:checked ~ .wrapper .content5,
#testimonials #i_6:checked ~ .wrapper .content6 {
  opacity: 1;
  pointer-events: auto;
}
#testimonials #i_1:checked ~ .controls label[for=i_1],
#testimonials #i_2:checked ~ .controls label[for=i_2],
#testimonials #i_3:checked ~ .controls label[for=i_3],
#testimonials #i_4:checked ~ .controls label[for=i_4],
#testimonials #i_5:checked ~ .controls label[for=i_5],
#testimonials #i_6:checked ~ .controls label[for=i_6] {
  color: #424242;
}

/*# sourceMappingURL=style.css.map */
