@import "../2-Utils/variables";
@font-face {
    font-family: 'acier';
    src: url('../ressources/fonts/acier-text-solid.ttf');
}

@font-face {
    font-family: 'Alegreya sans';
    src: url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Open sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Cardo';
    src: url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');
}

@font-face {
    font-family: 'Josefin sans';
    src: url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
}

html {
    font-size: $taille_police;
    font-family: 'Open sans', 'Josefin sans', 'Roboto', 'Helvetica Neue', 'Comfortaa';
    height: 1vh;
}

body {
    background-color: var(--body-bg);
}

.box-sizer {
    width: 108rem;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif !important;
}

h1 {
    font-family: "Alegryea sans", "Cardo", "acier", "Playfair Display", serif !important;
    color: var(--h1-color);
    font-size: clamp(4.5rem, 6vw, 10rem);
}

h2 {
    font-size: clamp(2.5rem, 3.5vw, 4.5rem);
    color: var(--h2-color);
}

h3 {
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    color: var(--h3-color);
}

h4 {
    font-size: clamp(1.8rem, 1.5vw, 2.7rem);
    color: var(--h4-color);
}

h5 {
    font-size: clamp(1.6rem, 1.3vw, 2.5rem);
    color: var(--h4-color);
}

h6 {
    font-size: clamp(1.6rem, 1.3vw, 2.5rem);
    color: var(--h4-color);
}

p {
    font-size: clamp(1.3rem, 1.4vw, 1.6rem);
    color: var(--p-color);
}

#btn-fixed {
    position: fixed;
    bottom: 2rem;
    right:2rem;
}