.grosse-carte {

    margin: 0;

    @media screen and (max-width: 45rem) {
        margin: 25rem 5rem 0;
    }

    svg {
        position: relative;
        height: 40rem;
        margin-top:-25rem;
        bottom:-25rem;
        left:-3rem;
        z-index:-50;
        
        @media screen and (max-width: 45rem) {
            //height:40rem;
            left:-3rem;
            bottom: -30rem;
            margin-top: -45rem;
        }
    }

    .section-content {
        display:flex;
        flex-direction: row;
        margin: 0 3rem;
        //flex: 1 1 auto;
        //flex-wrap: wrap;
        @media screen and (max-width: 55rem) {
            flex-direction: column;
            margin: 0;
        }



        .text-container {
            display:flex;
            flex-direction: column;
            max-width: 50%;
            width: min(50rem, 80%);
            align-items: center;
            text-align: justify;
            padding: 0 3rem;

            @media screen and (max-width: 76.8rem) {
                width:90%;
                margin: 5rem auto;
                padding: 0;

            }

            @media screen and (max-width: 55rem) {
                max-width: 100%;
            }

            h2 {
                line-height: 1.2;
                font-weight: 700;
                text-align: center;
                margin-bottom: 3rem;
            }
            h3 {
                text-align: center;
            }
            p {
                color:#999;
                margin:2rem 0;
                text-overflow: clip;
            }
            button {
                margin:3rem
            }
            img {
                display: block;
                width:min(21rem,10vw);
                position: relative;
                right:-8vw;
            }
        }
    }


    &#vers-outil {
        h2 {
            font-size: clamp(2.5rem, 3.5vw, 4rem);
        }
        h3 {
            font-size: clamp(2rem, 2.5vw, 3rem);
        }
        .photo-container {
            background-image: linear-gradient(0deg,rgba(0,0,0,.25),rgba(0,0,0,.25)),url("../ressources/images/mon_outil_photo.webp");
            width:45rem;
            height: 55rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            border-radius:50%;
            @media screen and (max-width: 76.8rem) {
                border-radius:999rem;
                width:90%;
                margin:0 auto;
            }
        }
        svg {
            fill:var(--indian-red);
        }
        img {
            @media screen and (max-width: 76.8rem) {
                display:none;
            }
        }
    }

    &#pitch {
        .photo-container {
            background-image: url("../ressources/images/CA9A9730.webp");
            width:45rem;
            height: 55rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 100%;
            border-radius: 50%;

            @media screen and (max-width: 76.8rem) {
                width:55rem;
                margin:0 auto;
            }
            @media screen and (max-width: 45rem) {
                width: 70vw;
                height: 70vw;
            }
        }
        svg {
            fill:var(--cambridge-blue);
        }
        p {
            color:var(--p-color);
        }
    }
}