.top-bar {
    height: 3rem;
    margin: 0 auto;
    line-height: 3rem;
    color: var(--p-color);
    //background-color: var(--border-color);
    background-color: var(--indian-red);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    z-index: 200;
    border-bottom: 1px solid var(--border-color);
    color:#fff;
    @media screen and (max-width: 45rem){
        font-size: 1.2rem;
    }
    a {
        margin: 0 1rem;
        
        &:hover {
            color: var(--p-spanned-color);
        }
    }
}

.banner {
    background-image: linear-gradient(0deg,rgba(0,0,0,.25),rgba(0,0,0,.25)),url("../ressources/images/enfant_volant.jpg");
    height:86rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: 991px) {
        justify-content: space-between;
        align-items: center;
        margin:0;
    }

    .titres {
        position: relative;
    }

    h5 {
        text-align: left;
        color: var(--nav-bg);
        text-transform: uppercase;
        //font-family: "acier", "Playfair Display", serif !important;
        margin: 0 0 0 3rem;
        @media (max-width: 991px) {
            text-align: center;
            margin:0;
        }
    }
    
    h1 {
        text-align: left;
        color: var(--nav-bg);
        margin: 1rem 0 5rem 3rem;
        @media (max-width: 991px) {
            text-align: center;
            margin:0;
        }
    }

    .photo-vignette {
        // img {
            background-image: linear-gradient(0deg,rgba(0,0,0,.05),rgba(0,0,0,.05)),url("../ressources/images/CA9A9674 - Magalie Villora - 6.jpeg");
            height:86rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 50%;
            height: 50rem;
            width: 50rem;
            background-position: 50% 50%;
            position:absolute;
            right:5%;
            top:20%;

            @media (max-width: 1199px) {
                height: 40rem;
                width: 40rem;
            }
          
            @media (max-width: 991px) {
                height: 35rem;
                width: 35rem;
                position:relative;
                top:0;
                left:0;
                margin: 1rem 0;
            }
          
            @media (max-width: 767px) {

            }
          
            @media (max-width: 575px) {

            }

        // }
    }
}



