nav {

    #nav-box-sizer {
        @media screen and (max-width: 65rem) {
            display:block;
        }
    }

    background-color: var(--nav-bg);
    height: 10rem;
    width: 100%;
    font-size: clamp(1rem, 1.6em, 2rem);
    font-weight: 700;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid var(--border-color);
    display:flex;
    justify-content: center;

    .logo-container {
        width:7.5rem;
        @media screen and (max-width: 65rem) {
            margin-left: 1rem;
            height:100%;
        }
    }

    img {
        height:40%;
        object-fit: contain;
        margin: 5% auto;
    }

    .menu-container {

         //width:100%;

        .list-nav {
            width: 100%;
            height: 100%;
            line-height: 10rem;
            text-align: center;
            text-transform: uppercase;
            color: var(--nav-font-color);
            
            @media screen and (max-width: 65rem) {
                position: relative;
                display: block;
                top: -53.3rem;
                left: 0;
                transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
                height: 0;
            }

            li {
                display: inline-block;
                list-style-type: none;
                transition: all 0.2s ease-in-out;
                position: relative;
                width: auto;
                
                &:hover {
                    cursor: pointer;
                    color: var(--p-spanned-color);
                }

                @media screen and (max-width: 65rem) {
                    line-height: 10rem;
                    display: block;
                    margin-left: -4rem;
                    background-color: var(--nav-bg);
                    
                    &:hover {
                        cursor: pointer;
                        //background-color: var(--caribbean-current);
                        background-color: var(--p-spanned-color);
                        color:#fff;
                        border-bottom: 0;
                    }
                }
                a {
                    padding: 2rem;
                }
            }

            #deroulant {
                @media screen and (max-width: 65rem) {
                    &:after {
                        content:"+";
                        position: absolute;
                        right:2rem;
                    }
                }

                @media screen and (min-width: 65rem ){
                    &:hover {
                        &~.sous-menu{
                                display: flex;
                                flex-direction: column;
                            }
                        }
                }
            }

            .sous-menu {
                display: none;
                position: absolute;
                z-index: 1000;
                background-color: var(--nav-bg);
                margin-left: 14rem;

                &:hover {
                    display: flex;
                    flex-direction: column;
                }
        
                li{
                    width: 100%;
                    text-align: left;
                    //margin-left: 10rem;
                    position: relative;
                    left:-4rem;
                    line-height: 7rem;
                    height: 7rem;

                    a {
                        padding: -2rem;
                    }
                }
            }
        }
    }
}

#sous-menu.visible {
    @media screen and (max-width: 65rem) {
        display:block;
        position: static;
        background-color: var(--nav-bg);
        margin-left:-4rem;
        width:calc(100% + 4rem);
        margin-left: 0;
        width: 100%;
        margin-right: 10rem;
    }
}