.section-container {
    width: min(108rem,100%);
    margin: 0 auto;
}

#thematiques {

    height:100rem;
    margin-bottom: 5rem;
    @media (max-width: 76.8rem) {
        height:auto;
    }

    &::before {
        content:"";
        background-image: url("../ressources/images/4b6b07a8-483b-492a-a9db-633b0e4dbe6b.png");
        background-repeat: no-repeat;
        background-position: 42% 0%;
        background-size: 70%;
        opacity: 0.1;
        z-index: -10;
        position: absolute;
        width: 100%;
        height: 100%;

        @media (max-width: 1228px) {
            display:none;
        }

    }
        h2, h3, h4, p {
            text-align: center;
            font-weight: 700;
        }

        h3 {
            text-transform: uppercase;
            font-size: 2.25rem;
        }
        .section-header {
            //margin:7rem 0 0 0;
            position: relative;
            top:40rem;
            left:0rem;
            @media (max-width: 76.8rem) {
                margin:7rem 0 0 0;
                position: static;
            }
        }

    .section-content {
        @media (max-width: 76.8rem) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            height: auto;
        }

        position: relative;
        height:100rem;
        &::before {
            @media (max-width: 1228px) {
                content:"";
                background-image: url("../ressources/images/4b6b07a8-483b-492a-a9db-633b0e4dbe6b.png");
                background-repeat: no-repeat;
                background-position: 42% 0%;
                background-size: 90%;
                opacity: 0.1;
                z-index: -10;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            @media (max-width: 640px) {
                display:none;
            }
        }

        .carte-thematique {
            @media (max-width: 76.8rem) {
                position: static;
                //width:25rem;
                margin: 3rem 1rem;
                height: auto;
            }
            position: absolute;
            top:0;
            left:0;

            width:min(30rem,100%);
            //width:25rem;
            //margin: 3rem 1rem;
            padding: 0 1rem;
            @media (max-width: 45rem) {
                flex-grow: 1;
            }

            svg {
                fill:var(--p-spanned-color);
                height:7rem;
                width:7rem;
                margin: 0 auto;
            }
            h4 {
                margin: 3rem 0 0 0;
                text-transform: uppercase;
                font-size: clamp(1.4rem, 1.5vw, 2.3rem);
            }
            p {
                color:#999;
                margin: 2rem 0 0 0;
            }
        }
            
    }
}

#vers-outil {

    margin: 0;
    @media (max-width: 76.8rem) {
        margin: 15rem 5rem 0;
    }

    .section-container {
    }

    svg {
        fill:var(--indian-red);
        height: 40rem;
        position: relative;
        margin-top:-25rem;
        bottom:-25rem;
        left:-3rem;
        z-index:-50;

        @media (max-width: 76.8rem) {
            height: 20rem;
            bottom:-15rem;
        }
        @media (max-width: 45rem) {
            height:40rem;
            left:-3rem;
            bottom: -30rem;
            margin-top: -45rem;
        }
    }

    .section-content {
        display:flex;
        flex-direction: row;
        flex: 1 1 auto;
        flex-wrap: wrap;
        @media (max-width: 45rem) {
            flex-direction: column;
        }

        .photo-container {
            //img {
                background-image: linear-gradient(0deg,rgba(0,0,0,.25),rgba(0,0,0,.25)),url("../ressources/images/20230429_184104.jpg");
                width:45rem;
                height: 55rem;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 100%;
                // @media (max-width: 76.8rem) {
                //     width:25rem;
                //     height: auto;
                // }
                @media (max-width: 76.8rem) {
                    width:90%;
                    margin:0 auto;
                }
            //}
        }

        .text-container {
            display:flex;
            flex-direction: column;
            width: min(50rem, 100%);
            align-items: center;
            margin: 10rem 0 10rem 10rem;

            // @media (max-width: 76.8rem) {
            //         margin: 5rem 0 5rem 5rem;
            //         width: calc(100% - 35rem);
            //     }
            @media (max-width: 76.8rem) {
                width:90%;
                margin: 5rem auto;;
            }

            h2 {
                line-height: 1.2;
                font-weight: 700;
                text-align: center;
            }
            h3 {
                text-align: center;
            }
            p {
                color:#999;
                margin:2rem 0;
                text-overflow: clip;
            }
            button {
                margin:3rem
            }
            img {
                display: block;
                width:min(21rem,10vw);
                position: relative;
                right:-8vw;
            }
        }
    }
}

#fading-img {
    
    background-color: var(--nav-bg);
        img {
            padding: 5rem;
            position: relative;
        }
}


#carrousel {

    height: 40rem;
    margin: 0;

    @media (max-width: 1199px) {
          height: 33.6rem;
          min-height: 33.6rem;
      }
    
      @media (max-width: 991px) {
          height: 102.9rem;
          min-height: 102.9rem;
      }
    
      @media (max-width: 767px) {
          height: 308.7rem;
          min-height: 308.7rem;
      }
    
      @media (max-width: 575px) {
          height: 194.4rem;
          min-height: 194.4rem;
      }

    .section-container-large {

        height: 40rem;
        overflow: hidden;

        @media (max-width: 1199px) {
            height: 33.6rem;
        }
      
        @media (max-width: 991px) {
            height: 102.9rem;
            grid-template-columns: repeat(2, auto);
        }
      
        @media (max-width: 767px) {
            grid-template-columns: repeat(1, auto);
            height: 308.7rem;
        }
      
        @media (max-width: 575px) {
            height: 194.4rem;
        }

        display: grid;
        grid-template-columns: repeat(4, auto);
        column-gap: 0;
        row-gap: 0;
        min-height: 100%;

        .carte-carrousel {
            height: 100%;

            .img-container {
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                transform: scale(1);
                transition: transform 500ms;
                width: 100%;
                
                .carrousel-img1 {
                    object-position: center bottom;
                    @media (max-width: 575px) {
                        display:none;
                    }
                }
                .carrousel-img2 {
                    object-position: center bottom;
                }
                .carrousel-img3 {
                    object-position: left bottom;
                }
                .carrousel-img4 {
                    object-position: center center;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}


.quote {

    background-color: var(--nav-bg);
    
    &#quote3 {
        background-color:var(--cambridge-blue50);
        .svg-guillemet-ouvrant {
            fill:var(--atomic-tangerine);
        }
        .svg-guillemet-fermant {
            fill:var(--atomic-tangerine);
        }
    }

    .section-container {
        p {
            font-weight: 700;
            line-height: 1.7;
            font-size: 2rem;
            text-align: center;
            margin: 0;
        }

        .carte-temoignage {
            margin: 0rem 15rem 5rem;
            padding:3rem 0;
            display: flex;
            flex-direction: column;
            @media (max-width: 45rem) {
                margin: 0 5rem;
            }
            
        }
               
        .guillemet-ouvrant {

        }
        
        .guillemet-fermant {
            display: block;
            align-self: end;
        }
        .svg-guillemet-ouvrant {
            fill:var(--indian-red);
            height:5rem;
        }
        
        .svg-guillemet-fermant {
            fill:var(--indian-red);
            height:5rem;
        }
        
    }
}


#pricing {

    margin: 10rem 0;

    .section-container{

        h2, h6 {
            text-align: center;
        }

        h2 {
            margin: 3rem 20rem 5rem;
            @media (max-width: 45rem) {
                margin: 0 5rem;
            }
        }
        h6 {
            text-transform: uppercase;
            font-size: 2.5rem;
        }

        .photo-deco {
            fill:var(--cambridge-blue);
            position: relative;
            margin-bottom: -10%;
            height: 20rem;
            @media (max-width: 45rem) {
                //margin-top: -5rem;
                height: 10rem;
            }
        }
        .cartes-tarif-container {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .carte-tarifs {
                display: flex;
                flex-direction: column;
                align-items: center;

                .svg-prix-container{
                    height: 13rem;
                    margin: 3rem 0 0;

                    svg {
                        height: 100%;
                        fill:var(--cambridge-blue);
                    }
                }
                
                h4 {
                    margin: 3rem 0 0;
                    color:var(--cambridge-blue);
                    font-weight: 700;
                    font-size: 5rem;
                }

                .trait {
                    margin: 3rem 0 0;
                    border: solid 1px var(--indian-red);
                    height: 2px;
                    width: 100%;
                }
                
                p {
                    margin: 3rem 0;
                    font-size: 2rem;
                }

                h6 {
                    margin: 3rem 0 0;
                    font-size: 2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
        }
    }
}

#FAQ {

    margin: 10rem 0;
    
    h2, h6 {
        text-align: center;
    }

    h2 {
        margin: 3rem 20rem 5rem;
        @media (max-width: 45rem) {
            margin: 0 5rem;
        }
    }

    h6 {
        text-transform: uppercase;
        font-size: 2.5rem;
    }

    .questions-container {
        margin: 3rem 0;

        .question-container {
            display:flex;
            margin:1rem 0;

            .numero-FAQ {
                width:3rem;
                font-size: 1.5rem;
                padding: .5em 1.3rem;
                font-weight: 500;
                background-color: var(--indian-red50);
            }

            details {
                background-color: var(--body-bg);
                color: var(--p-color);
                font-size: 1.5rem;
                width:calc(100% - 3rem);
                
                p {
                    color: var(--p-color);
                    font-size: 1.5rem;
                }

                summary {
                    padding: .5em 1.3rem;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;  
                    transition: height 1s ease;
                    font-weight: 500;
                    background-color: var(--nav-bg);

                    &::-webkit-details-marker {
                        display: none;
                    }
                    &:after{
                        content: "\002B";
                    }
                }

            }
        }
    }
     
    details[open] summary {
        border-bottom: 1px solid #aaa;
        margin-bottom: .5em;
        background-color: var(--indian-red50);
    }

    details[open] summary:after{
        content: "\00D7";
    }
      
    details[open] p{
        padding: .5em 1em;
    }
}