#testimonials {
    display:flex;
    flex-direction: column;

    h2 {
        text-align: center;
        margin: 0 0 3rem;
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
      }
      .wrapper {
        width: 75vw; /* unfortunately width has to be set to some hard value */
        display: flex;
        margin: 0 auto;
        background-color: white;
        box-shadow: 3px 3px 20px #9E9E9E;
        
        .slide {
            width: 0;

            .content {
                width: 75vw;
                height: 100%; /* this is optional if you want every slide to have same height as the highest one */
                padding: 30px;
                opacity: 0;
                pointer-events: none;
                transition: opacity .6s;
                max-height: 90vh;
                overflow-y: auto;

                .box-top{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 2rem;
                    
                
                    .profile{
                        display: flex;
                        align-items: center;
                
                        .name-user{
                            display: flex;
                            flex-direction: column;
                
                            strong{
                                color: #3d3d3d;
                                font-size: 1.6rem;
                                letter-spacing: 0.5px;
                            }
                            span {
                                color: #979797;
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .reviews{
                        color: #f9d71c;
                    }
                }
                .client-comment {
                    p{
                    font-size: 1.6rem;
                    color: #4b4b4b;
                    }
                }
              }
          }


      }
      .controls {
        margin: 2rem auto;

        label {
            color: #E0E0E0;
            transition-duration: .6s;
            cursor: pointer;
          }
    }
    #i_1:checked ~ .wrapper .content1,
    #i_2:checked ~ .wrapper .content2,
    #i_3:checked ~ .wrapper .content3,
    #i_4:checked ~ .wrapper .content4,
    #i_5:checked ~ .wrapper .content5,
    #i_6:checked ~ .wrapper .content6,
    #i_7:checked ~ .wrapper .content7,
    #i_8:checked ~ .wrapper .content8 {
        opacity: 1;
        pointer-events: auto;
    }

    #i_1:checked ~ .controls label[for="i_1"],
    #i_2:checked ~ .controls label[for="i_2"],
    #i_3:checked ~ .controls label[for="i_3"],
    #i_4:checked ~ .controls label[for="i_4"],
    #i_5:checked ~ .controls label[for="i_5"],
    #i_6:checked ~ .controls label[for="i_6"],
    #i_7:checked ~ .controls label[for="i_7"],
    #i_8:checked ~ .controls label[for="i_8"] {
        color: #424242;
    }
}
