#thematiques {

    height:100rem;
    margin: 5rem 0;
    @media (max-width: 76.8rem) {
        height:auto;
    }

    &::before {
        content:"";
        background-image: url("../ressources/images/4b6b07a8-483b-492a-a9db-633b0e4dbe6b.png");
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 95rem;
        opacity: 0.1;
        z-index: -1000;
        position: absolute;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 1228px) {
            display:none;
        }

    }
        h2, h3, h4, p {
            text-align: center;
            font-weight: 700;
        }

        h3 {
            text-transform: uppercase;
            font-size: 2.25rem;
        }
        .section-header {
            //margin:7rem 0 0 0;
            position: relative;
            top:40rem;
            left:2rem;
            z-index:-1;
            @media screen and (max-width: 76.8rem) {
                margin:7rem 0 0 0;
                position: static;
            }
        }

    .section-content {
        @media screen and (max-width: 76.8rem) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            height: auto;
        }

        position: relative;
        height:100rem;
        
        &::before {
            @media screen and (max-width: 1228px) {
                content:"";
                background-image: url("../ressources/images/4b6b07a8-483b-492a-a9db-633b0e4dbe6b.png");
                background-repeat: no-repeat;
                background-position: 42% 0%;
                background-size: 90%;
                opacity: 0.1;
                z-index: -10;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            @media screen and (max-width: 640px) {
                display:none;
            }
        }

        .carte-thematique {

            position: absolute;
            top:0;
            left:0;
            z-index: 100;
            border-radius: 2rem;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
            
            .interieur-carte {
                position: relative;
            }

            &:hover {
                svg {
                    //fill:var(--atomic-tangerine);
                    fill:var(--p-spanned-color);
                    transition: all 0.3s ease;
                }
                top:2rem;
                transition: all 0.3s ease 0s;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
                transform: translateY(-1rem);
            }
            
            a {
                &::after { 
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: -0.1%;
                    top: -0.1%;
                    z-index:500;
                }
            }
            width:min(30rem,100%);
            padding: 0 1rem;

            @media screen and (max-width: 76.8rem) {
                position: static;
                margin: 3rem 1rem;
                height: auto;
            }
            @media screen and (max-width: 45rem) {
                flex-grow: 1;
            }

            svg {
                //fill:var(--p-spanned-color);
                fill:var(--atomic-tangerine);
                height:7rem;
                width:7rem;
                margin: 0 auto;
            }
            h4 {
                margin: 3rem 0 0 0;
                text-transform: uppercase;
                font-size: clamp(1.4rem, 1.5vw, 2.3rem);
                //color: var(--atomic-tangerine);
                color:var(--p-spanned-color);
            }
            p {
                color: var(--p-color);
                margin: 2rem 0 0 0;
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
            
    }
}